.create-btn {
    width: 100%;
    height: 5em;
    display:block;
    margin: 0 auto;
    line-height: 1em;
    
}

.image-logo-main{
    display:block;
    width:30em;
    margin:0;
    
}


.home-block {
    width: 50%;
    margin: auto;
    margin-top:25%;
    display:block;
    transition: 0.5s;
}

.btn-row{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%; 
    margin-top: 1em;
    
}

#subscribe{
    margin-top: 1em;
    
}

.desc-text{
    font-size: 0.8em;
}
.subt-text {
    font-weight: 800;
    font-size: 1em;
    margin-bottom: 1em;
}
.collage{
    position: absolute;
    width:25%;
}

.girl {
    max-width: 100%;
    height: auto;
}

.city {
    max-width: 100%;
    height: auto;
}

.pic1 {
    bottom: 10%;
    z-index: 0;
    right:45%;
    transition: 0.3s;
}

.pic1:hover{
    transition: 0.3s;
    transform: scale(1.06)
}
.pic2{
   top:10%;
   z-index: 0;
   left: 7%;
   transition: 0.3s;
}
.pic2:hover{
    transition: 0.3s;
    transform: scale(1.06)
}

/**/

.ro-title {
    transform: rotate(-20deg);

}
.skew-title {
    top:50%;
    left: 1%;
    position: absolute;
    
   
}

#the {

    transform: skew(50deg, -15deg);
    font-family: 'Backslash';
    font-size: 5vw;
    line-height: 3em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    
}

#eleventh {

    transform: skew(-5deg, -10deg);
    font-family: 'Backslash';
    font-size: 20vw;
    line-height: 0em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.layout {
    display: grid;
    grid-template-columns: 50% 50%;
}