

.empty {
    background-color: var(--cream);
}

.checked {
    background-color: var(--dark);
    color: var(--cream);
}

/**********/

.input-box{
    border-radius:0;
    border-style:solid;
    border-width:1px;
    background:none;
    height: 30px;
    width: 120px;
    font-size:24px;
}

.show {
    display: block;
}

.hide {
    display: none;
}