:root {
    --grid-size: 50px;
}
.options-block {
    display: grid;
    grid-template-columns: var(--grid-size) var(--grid-size) var(--grid-size) var(--grid-size) var(--grid-size) var(--grid-size);
    grid-template-rows: var(--grid-size) var(--grid-size);  
    grid-row-gap: 1em; 
    grid-column-gap: 1em; 
    width:50%; 
}
.next-btn{
    width:50px;
    height:50px;
    position: relative;
    padding-top:0.5%;

}

.arrow-icon{
    position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(-50%, -50%);
    padding-top:50px;
    
}